.Subcategories {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.Subcategories a {
  margin-bottom: 1em;
  font-size: 14px;
  color: #ef4123;
  padding: 3px 6px 2px 6px;
  transition: all 0.3s ease-out;
}

.Subcategories a:hover {
  text-decoration: none;
  color: white;
  background: #ef4123;
}
