.Card {
  width: 100%;
}
.Card img {
  margin-bottom: 6px;
}
.Card a {
  color: inherit;
}
.Card h2 {
  margin: 14px 0 13px 0;
}
.Circle img {
  border-radius: 100%;
}
.Triangle img {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.Date,
.Category {
  font-size: 12px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}
.Category {
  color: #ef4123;
  margin-left: auto;
}
.Excerpt {
  font-size: 14px;
  margin-bottom: 76px;
}
@media (min-width: 768px) {
  .Card {
    width: 50%;
    padding: 0 25px;
  }
}
@media (min-width: 1024px) {
  .Card {
    padding: 0 50px;
  }
}
@media (min-width: 1366px) {
  .Card {
    width: 33.333%;
  }
}
