.Columns {
  margin-bottom: 67px;
}
.Columns a {
  color: black;
  text-decoration: underline;
}
.Button {
  color: #ef4123;
  display: block;
  width: fit-content;
  padding: 6px 10px;
  margin: 0 auto;
  transition: all 0.1s ease-in;
}
.Button:focus,
.Button:active,
.Button:hover {
  text-decoration: none;
}
.Button:hover {
  color: white;
  background: #ef4123;
}
@media (min-width: 768px) {
  .Columns {
    margin-bottom: 88px;
  }
}
@media (min-width: 1024px) {
  .Columns {
    display: flex;
  }
  .Columns div {
    width: 50%;
  }
  .LeftColumn {
    padding-right: 32.5px;
  }
  .RightColumn {
    padding-left: 32.5px;
  }
}
@media (min-width: 1366px) {
  .Columns {
    margin-bottom: 118px;
  }
}
