.Columns a {
  color: black;
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .Columns {
    display: flex;
  }
  .Columns div {
    width: 50%;
  }
  .LeftColumn {
    padding-right: 32.5px;
  }
  .RightColumn {
    padding-left: 32.5px;
  }
}
