.Cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
@media (min-width: 640px) {
  .Cards {
    margin: 0 -12.5px 30px -12.5px;
  }
}
@media (min-width: 768px) {
  .Cards {
    margin: 0 -25px 30px -25px;
  }
}
@media (min-width: 1024px) {
  .Cards {
    margin: 0 -50px 30px -50px;
  }
}
@media (min-width: 1024px) {
  .Cards {
    margin: 0 -50px 60px -50px;
  }
}
