.Gallery {
  margin: 0 -26px;
  position: relative;
  padding-bottom: 62.4%;
}
.Gallery img {
  position: absolute;
}
.InactiveImage {
  animation: none;
  z-index: 0;
}
.ActiveImage {
  z-index: 1;
  animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Indicators {
  position: absolute;
  left: 51px;
  bottom: 30px;
}
.Indicators button {
  border: none;
  border-radius: 100%;
  padding: 0;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}
.Indicators .Active {
  background: white;
}
.Previous,
.Fullscreen,
.Next {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 33.333%;
  background: none;
  border: none;
  outline: none;
}
.Previous {
  left: 0;
  cursor: w-resize;
}
.Fullscreen {
  left: 33.333%;
  cursor: nesw-resize;
}
.Next {
  right: 0;
  cursor: e-resize;
}
@media (min-width: 480px) {
  .Gallery {
    margin: 0 -51px;
  }
}
@media (min-width: 768px) {
  .Indicators {
    left: 30px;
  }
}
@media (min-width: 1366px) {
  .Gallery {
    margin: 0;
  }
}
