.Links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Footer {
  margin-top: 80px;
}
.Footer p,
.Footer a {
  font-weight: 300;
  color: black;
  font-size: 14px;
}
.Footer p {
  margin-top: 0;
}
.Footer a {
  margin-bottom: 16px;
}

.CopyrightDesktop {
  display: none;
}

@media (min-width: 480px) {
  .CopyrightDesktop {
    display: block;
    width: 100%;
    text-align: center;
  }

  .CopyrightMobile {
    display: none;
  }
}
@media (min-width: 1366px) {
  .Footer {
    margin-top: 120px;
  }
}
