.Footer hr {
  width: 65px;
  margin-bottom: 80px;
}
@media (min-width: 1366px) {
  .Footer hr {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 120px;
  }
}
.Footer p,
.Footer a {
  font-weight: 300;
  color: black;
}
