html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  height: 100%;
}
#__next,
#__next > div {
  height: 100%;
}
p {
  line-height: 19px;
}
* {
  box-sizing: border-box;
}
a {
  color: #ef4123;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

h1 {
  font-size: 34px;
}
img {
  max-width: 100%;
}
@media (min-width: 768px) {
  h1 {
    margin: 30px 0 17px 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
