@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}
p {
  line-height: 19px;
}
* {
  box-sizing: border-box;
  /* animation: fadeIn 0.3s ease-out forwards; */
}
a {
  color: #ef4123;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

h1 {
  font-size: 34px;
}
img {
  max-width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
