.Menu {
  min-height: 176px;
}

.MainMenu {
  display: flex;
  border-bottom: 1px solid #ef4123;
  justify-content: space-between;
  padding: 30px 0 19px 0;
  margin-bottom: 14px;
}

.PostSubcategories,
.PostSubcategories a {
  color: #ef4123;
  font-size: 14px;
}

.PostSubcategories svg {
  margin-right: auto;
}

.PostSubcategories {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 3px;
  float: left;
}

.PostSubcategories a {
  margin: 0 8px;
}
.Date {
  float: right;
  font-size: 12px;
  display: none;
  padding-top: 6px;
}
@media (min-width: 196px) {
  .Menu {
    min-height: 196px;
  }
}
@media (min-width: 768px) {
  .PostSubcategories {
    width: auto;
  }
  .Menu {
    min-height: 216px;
  }
  .MainMenu {
    padding-top: 50px;
  }
  .Date {
    display: block;
  }
}

@media (min-width: 1366px) {
  .Menu {
    min-height: 251px;
  }
  .MainMenu {
    padding-top: 60px;
  }
}
.MainMenu g {
  transition: all 0.1s ease-out;
}
.Active g {
  fill: #ef4123;
}
